<template name="HomeOld">
    <div class="container">
        <h1>Welcome to the ZSUS Customer Portal</h1>
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&#215;</button>
            <strong>Information!</strong> The MyZSUS Customer Portal is migrating to this new site one section at a time.  Currently, Tech Data's CMMs and Service Bulletin functions are available here and you'll click the Login button above to access them.
            For Product Support, Returns & Warranties, and Spares, the menu links above will take you to the old site. When prompted there, you'll continue to use your old logins for those functions.
        </div>

        <p>This website provides you with up-to-date visibility of your open and closed field support issues, tracking of your returns and warranties and
            the latest revisions of all your ZSUS/ZSC CMMs and Service Bulletins/Service Information Letters.</p>

        <p>If you have trouble accessing the Customer Portal please email <a href="mailto:myzsussupport.zsus@zodiacaerospace.com?Subject=MyZsus%20Support">MyZsus Support</a>.</p>
    </div>
</template>
