<template name="navbar">
   <div class="navbar navbar-default navbar-static-top">
      <div class="container">
         <div class="navbar-header">
              <img src="/images/za_logo_RGB_low.jpg" width=120 alt="Zodiac Aerospace" style="float:left;" />
              <a href="/" class="navbar-brand">ZSUS NOE Portal</a>
            <!--
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              -->
         </div>  <!-- close navbar-header -->
      </div>    <!-- close container -->
   </div>		<!-- close navbar -->
</template>